.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.text-styling {
  @apply w-full items-center justify-center rounded-lg bg-transparent bg-zinc-200 px-5 py-4 text-3xl text-zinc-600 dark:bg-neutral-900 dark:text-white md:px-8;
  @apply transition-all after:h-full after:bg-white hover:bg-zinc-300 focus:outline-none dark:hover:bg-neutral-800 md:w-[46rem] md:text-5xl md:leading-snug;
}

.grow-wrap::after {
  @apply text-styling;
}
